<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/gerenciador-v-2/style.css">
    <link rel="stylesheet" href="/gerenciador-v-2/index.html">
    <script type="module">
        import { renderComponent } from '../script.js';
        const form = document.getElementById('aluno-form');
        renderComponent(form);
    </script>

</head>

<body>
    <header>
        <h1>Gerenciador de Turmas</h1>
        <nav>
            <ul>
                <li><a href="/gerenciador-v-2/components/aluno-form.html">Cadastrar Aluno</a></li>
                <li><a href="/gerenciador-v-2/components/professor-form.html">Cadastrar Professor</a></li>
                <li><a href="/gerenciador-v-2/components/turma-form.html">Cadastrar Turma</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form id="aluno-form" class="form">
            <h2>Cadastro de Aluno</h2>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
            <label for="idade">Idade:</label>
            <input type="number" id="idade" name="idade" required>
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Cadastrar</button>
        </form>

    </main>
    <footer>

    </footer>

</body>

</html>