* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: black;
}

h2{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}
.formulario-aluno,.formulario-professor,.formulario-turma{
    padding-top: 10%;
   
}


/* Estilização do formulário de cadastro de alunos */
.formulario-aluno {
    width: 400px;
    margin: 0 auto;
}

.formulario-aluno label,
.formulario-aluno input,
.formulario-aluno select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.formulario-aluno label {
    color: #333;
}

.formulario-aluno input,
.formulario-aluno select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.formulario-aluno input:focus,
.formulario-aluno select:focus {
    outline: none;
    border-color: #008080;
}

.formulario-aluno input[type="submit"] {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* Estilização do formulário de cadastro de professores */
.formulario-professor {
    width: 400px;
    margin: 0 auto;
}

.formulario-professor label,
.formulario-professor input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.formulario-professor label {
    color: #333;
}

.formulario-professor input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.formulario-professor input:focus {
    outline: none;
    border-color: #008080;
}

.formulario-professor input[type="submit"] {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* Estilização do formulário de cadastro de turmas */
.formulario-turma {
    width: 400px;
    margin: 0 auto;
}

.formulario-turma label,
.formulario-turma input,
.formulario-turma select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.formulario-turma label {
    color: #333;
}

.formulario-turma input,
.formulario-turma select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.formulario-turma input:focus,
.formulario-turma select:focus {
    outline: none;
    border-color: #008080;
}

.formulario-turma input[type="submit"] {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}